*, *:after, *:before {
	box-sizing: border-box;
}


.container {
	max-width: 1355px;
	margin:0 auto;
}

.bg--grey {
	background: #F6F8FA;
}

a {
	color:inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	font-size:14px;
	line-height:24px;
	font-weight:300;
	font-family: "Open Sans", san-serif;
	color:#373A39;
	margin:0;
	padding:0;

/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

}

h1 {
	margin:0;
}


.header {
	height:100vh;
}
.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height:94px;
}

.menu__list-item {
	display: inline-block;
	padding:9px 6px;
	border-bottom:2px solid transparent;
	transition:.3s;
}

.menu__list-item:hover,
.menu__list-item--active {
	border-bottom-color:#FCBB08;
}

.menu__list-item  + .menu__list-item  {
	margin-left:44px;
}

.menu__link {
	font-family: Raleway;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.6px;
}


.header__content {
	background-image: url("../images/header-bg.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height:calc(100vh - 94px);
	position:relative;
}

.header__content-inner {
	padding-top:213px;
	text-align:center;
	font-family: Montserrat;
	font-weight:700;

}

.header__title {
	font-size: 100px;
	line-height: 122px;
	color:#fff;
	margin-bottom:18px;
}


.header__description {
	letter-spacing: 2.74286px;
	color: #FCBB08;
	font-size: 16px;
	line-height: 20px;
}


.heade__decor {
	border: 2px solid #ffffff;
	box-sizing: border-box;
	border-radius: 100px;
	width: 26px;
	height: 43px;
	position:absolute;
	left: 50%;
	bottom: 62px;
}

.heade__decor:before {
	content:"";
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius:50%;
	left: 50%;
	transform: translateX(-50%);
	top: 8px;
	background: #fff;
}


.title {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 48px;
	line-height: 75px;
	letter-spacing: -1.65px;
	color: #242121;
	position:relative;

}

.title:after {
	content:"";
	width: 60px;
	height: 4px;
	left: 0px;
	top: 89px;
	background: #FCBB08;
	position:absolute;
}



.about__inner {
	display: flex;
	justify-content: space-between;
	padding:143px 0 159px;
}


.about__text {
	max-width:770px;
}

.expertise {
	padding:143px 0 164px;
}

.expertise__content {
	display: flex;
	justify-content: space-between;
	align-items:flex-start;
	margin-bottom:121px;
}

.expertise__content-items  {
	padding-top:107px;
}

.expertise__content-item {
	font-size: 11px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #1D1D1D;
	position:relative;
	padding-top:5px;
}

.expertise__content-item + .expertise__content-item {
	margin-top:28px;
}

.expertise__content-item:before {
	content:"";
	width:370px;
	height:2px;
	background:#F0F0F0;
	position:absolute;
	top:0;

}

.expertise__content-item:after {
	position:absolute;
	top:0;
	left:0;
	z-index:45;
	text-align:right;
	height:2px;
	background:#000;
}

.expertise__content-item--branding:after {
	content:"90%";
	width:calc(370px * 0.9 );
}

.expertise__content-item--design:after {
	content:"80%";
	width:calc(370px * 0.8 );
}

.expertise__content-item--development:after {
	content:"85%";
	width:calc(370px * 0.85 );
}

.expertise__text {
	padding-top:83px;
	max-width:770px;
}


.expertise__items {
	display: flex;
	justify-content: space-between;
}

.expertise__item {
	max-width:370px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.expertise__item-img {
	padding-right:35px;
}


.expertise__item-title {
	font-family: Raleway;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 4.29px;
	color: #333333;
	margin-bottom:14px;
}

.expertise__item-text {
	color:#777777;
}

